@import "tailwindcss";

*{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar{
  display: none;
}

@theme {
  --color-primary: #ff4d2d;
  --color-hover: #e64353;
  --color-bg: #fff9f6;
  --color-border: #ddd;
}
